body {
  background-color: #123;
}
h1 {
  color: #ccc;
  text-align: center;
}
button {
  display: block;
  margin: 20px auto;
  font-size: large;
}
.cards {
  display: grid;
  grid-gap: 10px;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.card {
  box-sizing: border-box;
  display: inline-block;
  width: 300px;
  height: 200px;
  background-color: slategray;
  border: 4px solid white;
  text-align: center;
  padding: 20px;
  margin: 20px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card img {
  width: 60%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-position: center;
  mask-position: center;
}
.cards.masks-off .card img {
  -webkit-mask: none;
  mask: none;
}
.card--ironman {
  background-image: url(/images/backgrounds/avengersTower.png);
}
.card--ironman img {
  -webkit-mask-image: url(/images/masks/mask3.svg);
  mask-image: url(/images/masks/mask3.svg);
}
.card--hulk {
  background-image: url(/images/backgrounds/greenWall.jpg);
}
.card--hulk img {
  -webkit-mask-image: url(/images/masks/mask2.svg);
  mask-image: url(/images/masks/mask2.svg);
}
.card--captain-america {
  background-image: url(/images/backgrounds/helicarrier.png);
}
.card--captain-america img {
  -webkit-mask-image: url(/images/masks/mask4.svg);
  mask-image: url(/images/masks/mask4.svg);
}
.card--black-panther {
  background-image: url(/images/backgrounds/wakanda.png);
}
.card--black-panther img {
  -webkit-mask-image: url(/images/masks/mask1.svg);
  mask-image: url(/images/masks/mask1.svg);
  -webkit-mask-size: contain;
  mask-size: contain;
}
